.masthead{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
}

.masthead__menu-and-search{
    grid-column-end: 0;
}

.masthead__actions{
    grid-column-start: 3;
}

.masthead__technologies{
    grid-column-start: 2;
}

.masthead__date{
    grid-row-start: 3;
}

.masthead__paper{
    grid-row-start: 3;
    grid-column-start: 3;
}

.masthead__logo{
    grid-row-start: 3;
    grid-column-start: 2;
}
