.masthead{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
}

.masthead__menu-and-search{
    grid-column-end: 0;
    padding-top: 10px;
    align-items: center;
}

.masthead__actions{
    display: flex;
    grid-column-start: 3;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
}

.masthead__technologies{
    grid-column-start: 2;
    text-align: center;
}
.masthead__tech{
    margin: 0 4px;
}
.masthead__tech-list{
    color: #6f6f6f;
    font-size: 10px;
    text-transform: uppercase;
}

.masthead__date{
    grid-row-start: 3;
}

.masthead__paper{
    grid-row-start: 3;
    grid-column-start: 3;
    display: flex;
    justify-content: flex-end;
}
/* .masthead__paper-icon{
    display: flex;
    justify-content: flex-end;
} */

.masthead__logo{
    grid-row-start: 3;
    grid-column-start: 2;
    text-align: center;

}

.masthead__menu-and-search {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /* padding-left: 20px; */
}

.masthead__menu-and-search div {
    margin-right: 25px;

}

.masthead__button {
    font-size: 11px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 7px;
    padding-bottom: 7px;
    align-items: center;
}

.masthead__button:hover {
    background-color: #f7f7f5;
}
