.masthead{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
}

.masthead__menu-and-search{
    grid-column-end: 0;
}

.masthead__actions{
    grid-column-start: 3;
}

.masthead__technologies{
    grid-column-start: 2;
}

.masthead__date{
    grid-row-start: 3;
}

.masthead__paper{
    grid-row-start: 3;
    grid-column-start: 3;
}

.masthead__logo{
    grid-row-start: 3;
    grid-column-start: 2;
}

.masthead__menu-and-search {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /* padding-left: 20px; */
}

.masthead__menu-and-search div {
    margin-right: 25px;

}

.masthead__button {
    font-size: 11px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 7px;
    padding-bottom: 7px;
    align-items: center;
}

.masthead__button:hover {
    background-color: #f7f7f5;
}
